//
   Created by 3OW on 10.07.2016.

extends layout

block content
    div.container
        div.row
            div.col-sm-6.col-md-4.col-md-offset-4
                #user
                    h1.text-center.login-title Welcome #{user.username}. <br /><br />


                     a(href='/unicornserver', class='text-center') View / Edit Unicorn Instances <br /><br />
                        a(href='/eventtypes', class='text-center') Event Types <br /><br />
                         a(href='/restnotifications', class='text-center') Rest Notifications <br /><br />

                        a(href='/signout', class='text-center') Sign Out